/* This is the css file for Codecademy's Unit 3 Broadway project: index.html.  */

/* Setup for whole page. */
body {
  font-family: Helvetica;
  background-color: white;
  text-align: center;
}

/* Set up the treatment of navigation links for whole page. */
a:link,
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
    color: yellow;
}

/* Style the Banner section. */
.banner,
.about-page {
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.bannerlist {
  font-size: 18px;
  color: white;
}

/*  Style the main body of the page. */
h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

h4 {
  font-size: 14px;
}

/* Add styling for Designed in New York line */
#work {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

/* Style the footer (with naivation) all on one line. */
.footer{
  background-color: dimgray;
  text-align: left;
}
#footercopy {
  font-size: 11px;
  color: white;
}
.footerbannerlist {
  font-size: 11px;
  display: inline;
}
